<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atlas Travel!</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    ></script>
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header
        class="display-flex justify-space-between align-center p-2 sticky-top"
        style="background-color:#afd3c2;"
      >
        <h1>
          <span role="img" aria-label="travel">💸</span>
          <a
            href="/"
            style="text-decoration:none;color:black;font-family:'Otomanopee One', sans-serif"
          >Atlas Travel!</a>
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href="/plan-trips" style="text-decoration:none;color:black;">Plan
              a Trip</a>
            |
            <button
              class="no-button"
              id="logout"
              style="text-decoration:none;color:black;margin-right:6px;"
            >Logout</button>
          {{else}}
            <a
              href="/login"
              style="text-decoration:none;color:black;margin-right:6px;"
            >Login</a>
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>